@model HomeViewModel;
@{
    ViewData["Title"] = "MediPlus-Home";
    Layout = "_MediPlusLayout";

}

<partial name="_Slider"/>
<partial name="_Schedule" model="Model.OpeningHours"/>
<partial name="_Features"/>
<partial name="_FunFacts"/>
<partial name="_WhyChoose"/>
<partial name="_CallToAction"/>
<partial name="_Portfolio"/>
<partial name="_Services" model="Model.Services" />
<partial name="_Pricing" model="Model.Services" />
<partial name="_Blog" />
<partial name="_Clients" />
<partial name="_Appointment" model="Model.Appointment" />
<partial name="_Newsletter"  />

@section Scripts {
	<script>
		$(document).ready(function () {
			$('#appointmentForm').submit(function (e) {
				e.preventDefault();
				var formData = $(this).serialize();
				$.ajax({
					url: '@Url.Action("BookAppointment", "Home")',
					type: 'POST',
					data: formData,
					success: function (response, status, xhr) {
						if (xhr.status === 200) {
							$('#appointmentForm')[0].reset();

							$('#appointmentForm').append('<div class="success-message text-primary fs-2">Sent!</div>');
							$('.success-message').fadeIn().delay(2000).fadeOut();
						}
					},
					error: function () {
						alert('Error!');
					}
				});
			});
		});
	</script>



}

